


.signUpDiv{
    width: 27%;
    height: 450px;
    background-color: white;
    border: 1px solid var(--dark_blue);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 4%;
    align-items: center;
}

.inputDiv{
    height: 50px;
    width: 93%;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.inputDiv input{
    width: 82%;
    height: 30px;
    border: none;
    border-radius: 30px;
    background: none;
}
.inputDiv input:focus{
    background-color: white;
    border: 1px solid var(--dark_blue);
}
.submitBtn{
    width: 90%;
    height: 50px;
    border-radius: 30px;
    background-color: var(--dark_blue);
    color: var(--white);
    border: none;
    border: 2px solid var(--dark_blue);
    font-size: 18px;
}
.submitBtn:hover{
    background-color: var(--white);
    color: var(--dark_blue);
}