.navBar{
    height: 100vh;
    width: 150px;
    background-color: var(--dark_blue);
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    position: fixed;

}
.logo{
    width :100px ;
    height : 100px ;
    border-radius: 50px;
}
.navBtn{
    width: 80%;
    height : 50px;
    background-color: var(--dark_blue);
    color: var(--white);
    border: none;
    display: flex;
    align-items: center;
    gap: 10%;
    
}
.navDiv{
    width: 180px;
    height: 120px;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navBtn:hover{
    color: var(--aqua);
    cursor: pointer;
}


@media (max-width: 600px) {
    .navBar {
        width: 60px;
    }
    .navBtn{
        width: 100%;
        justify-content: center;
    }
    .navBtn p{
      display: none;
    }  
    .logo{
        width: 40px;
        height: 40px;
    }
    
}

